/* common.module.css */

.section {
    width: 100%;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
  }
  
  .movieSection {
    background-color: #fff !important;
  }
  
  .container {
    max-width: 140rem;
    margin: 0 auto;
    padding: 6rem 3rem;
  }
  
  .grid_two_section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem; /* Added gap for better spacing between cards */
  }
  
  .movieSection h1 {
    text-align: center;
    margin-bottom: 3.2rem;
  }
  
  .movie_title {
    margin: 3.2rem 0 3.2rem 0;
  }
  
  .movie_title span {
    color: #e50914;
    text-transform: capitalize;
  }
  
  .card {
    max-width: 26rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 0.8rem;
    background-color: #fff;
    margin-bottom: 2rem; /* Added margin to space out cards vertically */
  }
  
  .card_image img {
    max-width: 100%;
    height: auto;
    border-top-right-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
  }
  
  .card_data {
    padding: 1.2rem;
  }
  
  .card_data h2 {
    font-size: 2rem;
  }
  
  .card_data p {
    margin: 1rem 0 2.4rem 0;
    line-height: 1.6;
  }
  

  

  /* ... (rest of your styles) ... */
  